<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" type="text/css" />
    <title>Selamat Datang, <%= name %> </title>
  </head>
  <body>
      <h1>Halo <%= name %> </h1>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Logout</button>
</form>
  </body>
</html>
