<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/login.css" type="text/css" />
    <title>Halaman Login</title>
  </head>
  <body>
    <h1>Silahkan Login</h1>
    <% if (messages.error) { %> <%= messages.error %> <% } %>
    <form action="/login" method="POST">
      <div>
        <label for="email">email</label>
        <input type="text" id="email" name="email" required />
      </div>
      <div>
        <label for="password">password</label>
        <input type="text" id="password" name="password" required />
      </div>
      <button type="submit">Login</button>
    </form>
    <a href="/register">Register</a>
  </body>
</html>
