<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/register.css" type="text/css" />
    <title>Halaman Register</title>
  </head>
  <body>
    <h1>Silahkan Registrasi Terlebih Dahulu</h1>
    <div class="box">
      <form action="/register" method="POST">
        <div>
          <label for="name">masukkan nama</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div>
          <label for="email">masukkan email</label>
          <input type="text" id="email" name="email" required />
        </div>
        <div>
          <label for="password">masukkan password</label>
          <input type="text" id="password" name="password" required />
        </div>
        <button type="submit">Register</button>
      </form>
      <a href="/login">login</a>
    </div>
  </body>
</html>
