body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }
  
h1 {
    text-align: center;
}

  .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }